{% extends 'core/base.html' %}
{% load static %}
{% block title %}Hillel Argentina{% endblock %}
{% block content %}
 
 <main role="main">

 
    {% if 'ok' in request.GET %}
      <div class="alert alert-success alert-dismissible streched-link fade show text-center">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Éxito!</strong> Inscripción realizada correctamente 
      </div>
    {% endif %}

        {% if 'remove' in request.GET %}
      <div class="alert alert-success alert-dismissible fade show  text-center">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Éxito!</strong> Desuscripción realizada correctamente 
      </div>
    {% endif %}
    
    <div class="container "    >
      <div class="card mx-auto border-1 mb-5"    >
          <div class="card-body mx-auto col-md-12 text-center mb-5"  >   
             
                  {% if request.user.is_authenticated == False %}
                    <h1 class="mt-5">Hillel Argentina</h1>
                    <h3 class="">Tu lugar de encuentro</h3>
                 

            <!--
                   <a class ="mt-5 btn btn-dark btn-home" href="{% url 'login' %}">
                    <i class ="fas fa-sign-in-alt fa-2x  mt-3"></i>
                    <p class="mt-3 mb-3 text-center" >Acceder
                    </p>
                  </a>  

                   <a class ="mt-5 btn btn-dark btn-home" href="{% url 'signup' %}">
                      <i class ="fas fa-user-plus fa-2x mt-3"></i>
                    <p class="mt-3 mb-3 text-center" >Registrarse
                    </p>
                  </a>    
              -->


                  {% else %}
                    <h2 class="">Hola {{request.user.profile.user}}!</h2>      

                  {% if bitajon %} 
                  
                  <a class ="mt-5 btn btn-dark btn-home" href="{% url 'pages:asistencia' 0 %}">
                    <i class ="fa fa-calendar-check fa-2x mt-3"></i>
                    <p class="mt-3 mb-3 text-center" >Tomar Lista
                    </p>
                  </a> 
               

                  {% else %}
                    
                    
                    {% if request.user.profile.subscription  %}
                      <h2 class="lead mt-4">Te esperamos en:</h2>
                      <dl class="row mt-5">
                        {% for page in request.user.profile.subscription %}                                 
                          <dt class="col-sm-6 text-center"><a class="text-dark" href="{% url 'pages:page' page.id page.title|slugify %}">{{page}} </a></dt>
                          <dd class="col-sm-6 text-center">{% if page.dia.order < 8 %}Los{% endif %} {{page.dia}} De {{page.horaDesde}} a {{page.horaHasta}} Hs.{% if page.modalidad  %}<b> Online</b>{% else %} <b>Presencial</b> {% endif %}</dd>
                        {% endfor %}             
                      </dl>
                    {%else%}
                      <h2 class="lead mt-4">No estás anotadx en ninguna actividad</h2>  
                      {% endif %}
                        
                          <div class="containerBotones">
                            <a class ="mt-5 btn badge-presencial btn-home" href="{% url 'pages:pages' 0 %}">
                              <div class="contenedorBotonPresencial">
                                <img class="btnCasita float-left mt-1" src="{% static 'core/img/icono-presencial.png' %}" alt="">
                           
                              <p class=" mb-3 float-left" > ACTIVIDADES <br> <b>PRESENCIALES</b>
                              </p>
                             
                              </div>
                            </a> 
  
                           <a class ="mt-5 btn badge-online btn-home" href="{% url 'pages:pages' 1 %}">
                           <div class="contenedorBotonVirtual">                          
                             <img class="btnCasita mt-1 float-left" src="{% static 'core/img/icono-virtual.png' %}" alt="">
                            <p class=" mb-3 float-left" > ACTIVIDADES <br> <b>VIRTUALES</b>
                            </p>
                          </div>
  
                            </a>  
  
                            <a class ="mt-5 mt-md-2  btn badge-onward btn-home" href="{% url 'pages:pages' 1 %}">
                              <div class="contenedorBotonOnward">
                                <img class="btnCasita mt-1 float-left" src="{% static 'core/img/icono-onward.png' %}" alt="">
                              <p class=" mb-3 float-left" > VIAJES <br> <b>ONWARD</b>
                              </p>
                            </div>  
                              </a>  

                         <a class ="mt-5 btn badge-online btn-home" href="{% url 'pages:pages' 1 %}">
                          <i class ="fa fa-calendar-week fa-2x mt-3"></i>
                          <i class ="fa fa-signal fa-2x mt-3"></i>
                            <p class="mt-3 mb-3 text-center font-weight-bold" >Calendario Online
                            </p>
                          </a>  

                          <a class ="mt-5 btn badge-onward btn-home" href="{% url 'pages:onward' %}">
                          <i class ="fas fa-plane-departure fa-2x mt-3"></i>
                         
                            <p class="mt-3 mb-3 text-center font-weight-bold" >Onward
                            </p>
                          </a>  

                          </div>
                    {% endif %}
                  {% endif %}
               
              </div>
            
          </div>
      </div>
    </div>
  </main>

{% endblock %}