main{
    padding-top: 20px;
}
:root {
    --jumbotron-padding-y: 3rem;

}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
}
@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
max-width: 40rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.box-shadow { 
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); 
}

html
{    
    overflow: scroll;
}

body{ min-height:100vh; margin:0; position:relative; }
header{ min-height:50px;  }

/* Trick: */
body {
    position: relative;
  }
body::after {
    content: '';
    display: block;
    height: 160px; /* Set same as footer's height */
  }

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 160px;
  }

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100; 
}

.my-float{
	margin-top:5px;
}


.btn-sample {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #60586B;
	*background-color: #60586B;
	background-image: -moz-linear-gradient(top, #141314, #60586B);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#141314), to(#60586B));
	background-image: -webkit-linear-gradient(top, #141314, #60586B);
	background-image: -o-linear-gradient(top, #141314, #60586B);
	background-image: linear-gradient(to bottom, #141314, #60586B);
	background-repeat: repeat-x;
	border-color: #60586B;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#141314', endColorstr='#60586B', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-sample:hover,
.btn-sample:focus,
.btn-sample:active,
.btn-sample.active,
.btn-sample.disabled,
.btn-sample[disabled] {
	color: #FFFFFF;
	background-color: #60586B;
	*background-color: #003bb3;
}

.footer-sample {
    background-color: #2a2829;
    background-color: #212121;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#0b0b0b),color-stop(100%,#212121))
}

.fondo {
    /*background-color: rgb(152, 215, 158);*/
    background-color: rgba(var(--b3f,250,250,250),1);
}
 

.circle-imageL{
    width:400px;
    height:400px;
    border-radius:50%;
    background-color: rgb(234, 155, 81);
    display:block;
    margin-left: -120px;
    margin-top: -120px;
    position: absolute 
}

.badge-presencial{
    color: #fff;
    background-color: rgb(234, 155, 81);
}

.badge-presencial[href]:hover, .badge-presencial[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: rgb(192, 128, 68);
  }
  
.btn-presencial {
    color: #fff;
    background-color: rgb(152, 215, 158) ;
    border-color: rgb(152, 215, 158) ;
  }
  
  .btn-presencial:hover {
    color: #fff;
    background-color: rgb(127, 179, 132) ;
    border-color: rgb(160, 226, 167) ;
  }
  
  .btn-presencial:focus, .btn-presencial.focus {
    box-shadow: 0 0 0 0.2rem rgba(152, 215, 158, 0.5);
  }

   
.badge-online{
    color: #fff;
    background-color: rgb(217, 153,240);
}
.badge-online[href]:hover, .badge-online[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color:rgb(178, 119, 196);
  }

  .badge-onward{
    color: #fff;
    background-color: rgb(224, 21, 72);
}
  .badge-onward[href]:hover, .badge-online[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color:rgb(143, 12, 34);
  }

.btn-online {
    color: #fff;
    background-color: rgb(230,216,73) ;
    border-color: rgb(230,216,73);
  }
  
.btn-online:hover {
    color: #fff;
    background-color:rgb(199, 188, 64) ;
    border-color: rgb(241, 228, 77) ;
  }
  
.btn-online:focus, .btn-online.focus {
    box-shadow: 0 0 0 0.2rem rgba(230,216,73, 0.5);
  }

 
  .text-presencial {
    color: rgb(234, 155, 81) !important;
  }

  .text-online {
    color: rgb(217, 153,240) !important;
  }
  

  .hr-presencial {
    background-color: rgb(234, 155, 81);
  }

  .hr-online {
    background-color: rgb(217, 153,240) ;
  }

  
  .btn-home{
    
    text-align: left;
    width: 200px;
    display: inline-block;
    border-radius: 100px;
    inline-size: auto;
    min-width: 280px;
    max-height: 75px;
    margin: 10px;
  }

  .btnCasita{
    margin-right: 15px; 
  }
 
  ul
{
    list-style-type: none;
}  
 

.freebirdHeaderCard.freebirdViewerHeaderCard {
  /* max-height: 22.5
vw
; */
  /* max-width: 90
vw
; */
  height: 160px
;
  width: 640px
;
}
.freebirdHeaderCard {
  background-image: url(https://lh5.googleusercontent.com/cKVRxcVhA4Eg5whbmzGfUkAokkGV1wvh5Kx0CGJYYmfXMuR7RnK_nnf128eXi5Uwg5INIs5OC4edasUB61m3nU_hhogoKQD-UBtr9KjQhlUgmInTHpU64QEqC3o4OwhPpg=w1200);
  background-size: cover;
  background-position: center;
}
.freebirdFormviewerViewHeaderCard {
  /* border: 1
px
solid #dadce0; */
  border-radius: 8px;
  margin-top: 12px;
}
.logo-home {
  max-width: 20%;
  margin-bottom: 25px !important;
  margin-top: 25px !important;
}

.badge-onward{
  color: #fff;
  background-color: #004DFF;
}

.badge-onward[href]:hover, .badge-online[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color:#0739AB;
}


.containerBotones {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedorBotonPresencial,
.contenedorBotonVirtual,
.contenedorBotonOnward {
  display: flex;
  align-items: center;
}

.centered-content,
.centered-text {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  margin: 0;
}


.iconoMenu{
  max-width: 25px;
  margin-right: 15px;

}

.iconoMenuOnward{
  max-width: 25px;
}

.onwardMenu{
color: rgba(255,255,255,.5);
}

.banerActividades {
  max-height: 160px;
  }
.iconoMenu2{
  max-width: 25px;
  margin-right: 15px; 
}
