{% extends 'core/base.html' %}
{% load static %}
{% block title %}Asistencias{% endblock %}
{% block content %}
  {% include 'pages/includes/pages_menu.html' %}
  
  <main role="main">
    <div class="container"  >
      <div class="card  mx-auto border-1 mb-5 "    >
        <div class="card-body  mx-auto col-md-8"  >
          <h3  class="text-center font-weight-bold">ASISTENCIA</h3>
          <h3 class="text-center">
            {% if cowork  %}
              <a href="{% url 'pages:asistencia' 0 %}" class="text-center badge badge-pill badge-online text-white">COWORK</a> 
            {% else %}
              <a href="{% url 'pages:asistencia' 1 %}" class="text-center badge badge-pill badge-presencial text-white">ACTIVIDADES</a>
              <h4 class="text-center">{{request.user.profile.provincia}}</h4>
              {% endif %}
          </h3>

          {% for date in unique_dates %}
          <div class="row mt-2">
            <h5 class="mb-0 text-presencial">{{ date|date:"l d \d\e F" }}</h5>
          </div>
          <hr>
          
          {% for page in pages %}
            {% if page.fecha == date %}
            <div class="row mt-3">
              <div class="col-md-12    ">
                <a class="btn btn-dark btn-block"  href="{% url 'pages:asistenciaDetail' page.id page.title|slugify %}"> 
                  <dl class="mb-0" style="white-space: normal; ">
                  <dt class="mb-0 text-center">
                    {{page.title}}

                  </dt>
                  <dd class=" mb-0 text-center">
                
                      <span class="text-left badge badge-pill badge-info">{{page.Qasistentes}}/{{page.Qconfirmados}}</span>
                   
                    De {{page.horaDesde}}
                    {% if page.horaHasta > 0 %}
                      a {{page.horaHasta}}
                    {% endif %}
                    HS.

                  {% if page.Qconfirmados >= page.cupo and page.cupo != 0 %}
                    <span class="badge badge-pill badge-danger">AGOTADO</span>
                  {% endif %}

                  {% if page.nuevo %}
                    <span class="badge badge-pill badge-warning">NUEVO!</span>
                  {% endif %}


                  </dd>
                  </dl>
                </a>                   
              </div>  
            </div>      
            {% endif %}
          {% endfor %}
          
        {% endfor %}
        
        {% for page in pages %}
        {% if not page.fecha %}
        <div class="row mt-3">
          <div class="col-md-12">
            <a class="btn btn-dark btn-block" href="{% url 'pages:asistenciaDetail' page.id page.title|slugify %}">
              <dl class="mb-0" style="white-space: normal;">
                <dt class="mb-0 text-center">{{ page.title }}</dt>
                <dd class="mb-0 text-center">
                  <span class="text-left badge badge-pill badge-info">{{ page.Qasistentes }}/{{ page.Qconfirmados }}</span>
                  {% if page.horaDesde %}
                    De {{ page.horaDesde }}
                    {% if page.horaHasta %}
                      a {{ page.horaHasta }} HS.
                    {% endif %}
                  {% endif %}
                  {% if page.Qconfirmados >= page.cupo and page.cupo != 0 %}
                    <span class="badge badge-pill badge-danger">AGOTADO</span>
                  {% endif %}
                  {% if page.nuevo %}
                    <span class="badge badge-pill badge-warning">NUEVO!</span>
                  {% endif %}
                </dd>
              </dl>
            </a>
          </div>
        </div>
        {% endif %}
      {% endfor %}


        </div>
      </div>
    </div>
  </main>
{% endblock %}
