{% extends 'core/base.html' %}
{% load static %}
{% block title %}Asistencias{% endblock %}
{% block content %}
  {% include 'pages/includes/pages_menu.html' %}

  <main role="main">
      <div class="container" style="max-width:600px"   >
      <div class="card mx-auto border-1 mb-5"    >
        <div class="card-body mx-auto col-md-8 mb-5"  >

      <h3  class="text-center font-weight-bold mb-4">DESCARGAS</h3>  
       
        <a class="btn btn-dark btn-block col-md-9 mx-auto text-left" href="{% url 'pages:descargarhistoricoasistenciasitem' %}">
         <i class="fas fa-download"></i>
         Asistencias Encabezado
        </a>
        <a class="btn btn-dark btn-block col-md-9 mx-auto text-left" href="{% url 'pages:descargarhistoricoasistenciasdetail' %}">

        <i class="fas fa-download"></i>
                Asistencias Detalle
        </a>
        <a class="btn btn-dark btn-block  col-md-9 mx-auto text-left" href="{% url 'pages:descargarActividades' %}">

        <i class="fas fa-download"></i>
                Actividades 
        </a>
        <a class="btn btn-dark btn-block  col-md-9 mx-auto text-left" href="{% url 'pages:descargarPerfiles' %}">

        <i class="fas fa-download"></i>
                Perfiles 
        </a>
        <a class="btn btn-dark btn-block  col-md-9 mx-auto text-left" href="{% url 'pages:descargarCuestionarios' %}">

        <i class="fas fa-download"></i>
                Cuestionarios 
        </a>
        <a class="btn btn-dark btn-block  col-md-9 mx-auto text-left" href="{% url 'pages:descargarCuestionariosRespuestas' %}">
 
        <i class="fas fa-download"></i>
                Respuestas
        </a>
      </div>
    </div>
    </div>
  </main>

{% endblock %}
