{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{page.title}}{% endblock %}
{% block content %}
{% include 'pages/includes/pages_menu.html' %}
<main role="main">

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>

    {% if 'claveincorrecta' in request.GET %}
      <div class="alert alert-danger alert-dismissible fade show  text-center">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Error!</strong> La clave ingresada es incorrecta. Volvé a ingresarla o comunicate con el staff.
      </div>
    {% endif %}

    {% if 'perfilcompleto' in request.GET %}
      <div class="alert alert-warning alert-dismissible fade show  text-center">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Ahora si!</strong> Ya podés anotarte a la actividad 😎
      </div>
    {% endif %}
  <div class="container">
    <div class="card  mx-auto border-1 w-20 mb-5" style="max-width:600px">
      <div class="card-body">

{%if page.modalidad %}
    <a class="btn btn-dark mb-3" href="{% url 'pages:pages' 1 %}"> 
{% else %}
    <a class="btn btn-dark mb-3" href="{% url 'pages:pages' 0 %}"> 
{% endif %}

    <i class="fas fa-long-arrow-alt-left"></i>
    Volver</a> 

  


          <h5 class="card-title">{{page.title}} {% if page.modalidad  %}<b> Online</b>{% else %} <b> Presencial</b> {% endif %}</h5>
        
          {% if page.flyer %}
                <img class="card-img-bottom banerActividades" src="{{page.flyer.url}}" alt="Card image">
              {% else %}
                <img class="card-img-bottom banerActividades" src="{% static 'core/img/logohillel.JPG' %}" alt="Card image">
              {% endif %}
              
              <p class="card-text"> {{page.description|safe}}</p>
          <p class="card-text">
            {% if request.user.is_anonymous %}
                <a class="btn btn-primary btn-block text-white" id="MainNavConfirmarRegistrarse" href="{% url 'login'%}"><b>Anotarse</b></a>
            {% else %}
            {% if not request.user.profile.validado %}
                <a class="btn btn-primary btn-block text-white" id="MainNavConfirmarRegistrarse" href="{% url 'profile' page.id %}?completar=si&pk={{page.id}}"><b>Anotarse</b></a>
            {% else %}

                {% if usuarioAnotado %}
                  <a class="btn btn-danger btn-block text-white" id="MainNavConfirmarDesuscripcion" data-target="#ModalConfirmarDesuscripcion" data-toggle="modal"><b>Darse de baja</b></a>
                {% else  %}
                  {% if page.Qanotados >= page.cupo and page.cupo != 0 %}
                    <a class="btn btn-primary btn-block text-white" id="MainNavAgotados" data-target="#ModalCuposAgotados" data-toggle="modal"><b>Anotarse</b></a>
                  {% else %}
                    <a class="btn btn-primary btn-block text-white" id="MainNavConfirmar" data-target="#ModalConfirmar" data-toggle="modal"><b>Anotarse</b></a>
                {% endif %}
               {% endif %}
              {% endif %}
            {% endif %}

              


            {% if request.user.is_staff %}
                <a class="" href="{% url 'pages:update' page.id %}">Editar</a>   

            {% if page.Qanotados > 0 %}
            


    <div class="card  mx-auto border-0 w-20 mb-5" style="max-width:600px">
      <h5 class="card-title mx-auto mt-4">
      Anotados
      </h5>
      <div class="card-body">

        {% for UserSubscripcion in page.anotados|dictsort:"user.profile.apellido" %}

        <div class="row mt-3">
        
          <p class="col-6 ">

         <b><a href="{% url 'profiles:detail' UserSubscripcion.user.username  %}">
          {{UserSubscripcion.user.profile.apellido|truncatechars:"16"}}
          {{UserSubscripcion.user.profile.nombre|truncatechars:"16"}}
          
        </a></b>
        {{UserSubscripcion.user.profile.edad}}
         </p>

            {% if UserSubscripcion.user.profile.whatsapp  %}
              <p class="col-2 ">
                <a href="https://wa.me/+549{{UserSubscripcion.user.profile.whatsapp}}" 
                class="text-center btn btn-success btn-sm  mt-0" >
                <i class="fab fa-whatsapp fa-2x"></i>                     
                </a>
              </p> 
            {% endif %}
    
           <p class="col-2 ">      
            <a class="btn btn-dark " href="{% url 'admin:registration_profile_change' UserSubscripcion.user.profile.id  %}">
            Observacion</a>
            </p>
              {% if UserSubscripcion.user.profile.observaciones is not none %}
                  
              <p class="col-md-12 ">
                    {{UserSubscripcion.user.profile.observaciones}}
              </p>
                  {% endif %}
           

      </div>
        {% endfor %}

            {% endif %}

    </div>
  </div>
{% endif %}

          </p>
      </div>
    </div>
  
    <!-- Modal Anotarse (a Registrarse) -->
    <div class="modal fade" id="ModalConfirmarRegistrarse">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Registrate</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">  
        Registrate o logueate con tu usuario para anotarte a las actividades!
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <a class="btn btn-success" href="{% url 'signup' %}">Registrarse</a>
            <a class="btn btn-success" href="{% url 'login' %}">Loguearse</a>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>  


    <!-- Modal Anotarse -->
    <div class="modal fade" id="ModalConfirmar">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            {% if page.con_preinscripcion  %}
            <h4 class="modal-title">¿Querés preinscribirte a {{page.title}}?</h4>
            {% else %}
            <h4 class="modal-title">Confirmá</h4>
            {% endif %}
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
              <form action="{%  url 'pages:register' page.id %} " method="post">{% csrf_token %}  
   
            {% if cuestionario.pregunta1 != "" and cuestionario.pregunta1 is not None %}   
            Pero contanos algo antes... 🤓 <br><br>
            {% endif %}

            {% if cuestionario.pregunta1 != ""  and cuestionario.pregunta1 is not None %}   
              {{cuestionario.pregunta1}}     
                <input type="text" name="respuesta1" required
                id="id_respuesta1" class="form-control mt-3 mb-3" placeholder=""/>
            {% endif %}

            {% if cuestionario.pregunta2 != ""  and cuestionario.pregunta2 is not None %}   
              {{cuestionario.pregunta2}}     
                <input type="text" name="respuesta2" required
                id="id_respuesta2" class="form-control mt-3 mb-3" placeholder=""/>
            {% endif %}     

            {% if cuestionario.pregunta3 != ""  and cuestionario.pregunta3 is not None %}   
              {{cuestionario.pregunta3}}     
                <input type="text" name="respuesta3" required
                id="id_respuesta3" class="form-control mt-3 mb-3" placeholder=""/>
            {% endif %}  

            {% if cuestionario.pregunta4 != ""  and cuestionario.pregunta4 is not None %}   
              {{cuestionario.pregunta4}}     
                <input type="text" name="respuesta4" required
                id="id_respuesta4" class="form-control mt-3 mb-3" placeholder=""/>
            {% endif %}  

            {% if cuestionario.pregunta5 != "" and cuestionario.pregunta5 is not None %}   
              {{cuestionario.pregunta5}}     
                <input type="text" name="respuesta5" required
                id="id_respuesta5" class="form-control mt-3 mb-3" placeholder=""/>
            {% endif %}     
            {% if cuestionario.pregunta6 != ""  and cuestionario.pregunta6 is not None %}   
              {{cuestionario.pregunta6}}     
                <input type="text" name="respuesta6" required
                id="id_respuesta6" class="form-control mt-3 mb-3" placeholder=""/>
            {% endif %}

            {% if cuestionario.pregunta7 != ""  and cuestionario.pregunta7 is not None %}   
              {{cuestionario.pregunta7}}     
                <input type="text" name="respuesta7" required
                id="id_respuesta7" class="form-control mt-3 mb-3" placeholder=""/>
            {% endif %}     

            {% if cuestionario.pregunta8 != ""  and cuestionario.pregunta8 is not None %}   
              {{cuestionario.pregunta8}}     
                <input type="text" name="respuesta8" required
                id="id_respuesta8" class="form-control mt-3 mb-3" placeholder=""/>
            {% endif %}  

            {% if cuestionario.pregunta9 != ""  and cuestionario.pregunta9 is not None %}   
              {{cuestionario.pregunta9}}     
                <input type="text" name="respuesta9" required
                id="id_respuesta9" class="form-control mt-3 mb-3" placeholder=""/>
            {% endif %}  

            {% if cuestionario.pregunta10 != "" and cuestionario.pregunta10 is not None %}   
              {{cuestionario.pregunta10}}     
                <input type="text" name="respuesta10" required
                id="id_respuesta10" class="form-control mt-3 mb-3" placeholder=""/>
            {% endif %}     

            {% if cuestionario.pregunta11 != ""  and cuestionario.pregunta11 is not None %}   
              {{cuestionario.pregunta11}}     
                <input type="text" name="respuesta11" required
                id="id_respuesta11" class="form-control mt-3 mb-3" placeholder=""/>
            {% endif %}

            {% if cuestionario.pregunta12 != ""  and cuestionario.pregunta12 is not None %}   
              {{cuestionario.pregunta12}}     
                <input type="text" name="respuesta12" required
                id="id_respuesta12" class="form-control mt-3 mb-3" placeholder=""/>
            {% endif %}     

            {% if cuestionario.pregunta13 != ""  and cuestionario.pregunta13 is not None %}   
              {{cuestionario.pregunta13}}     
                <input type="text" name="respuesta13" required
                id="id_respuesta13" class="form-control mt-3 mb-3" placeholder=""/>
            {% endif %}  
            {% if cuestionario.pregunta14 != ""  and cuestionario.pregunta14 is not None %}   
              {{cuestionario.pregunta14}}     
                <input type="text" name="respuesta14" required
                id="id_respuesta14" class="form-control mt-3 mb-3" placeholder=""/>
            {% endif %}  

            {% if cuestionario.pregunta15 != "" and cuestionario.pregunta15 is not None %}   
              {{cuestionario.pregunta15}}     
                <input type="text" name="respuesta15" required
                id="id_respuesta15" class="form-control mt-3 mb-3" placeholder=""/>
            {% endif %}     
            {% if cuestionario.pregunta16 != ""  and cuestionario.pregunta16 is not None %}   
              {{cuestionario.pregunta16}}     
                <input type="text" name="respuesta16" required
                id="id_respuesta16" class="form-control mt-3 mb-3" placeholder=""/>
            {% endif %}  

            {% if cuestionario.pregunta17 != "" and cuestionario.pregunta17 is not None %}   
              {{cuestionario.pregunta17}}     
                <input type="text" name="respuesta17" required
                id="id_respuesta17" class="form-control mt-3 mb-3" placeholder=""/>
            {% endif %}     

            {% if cuestionario.pregunta18 != ""  and cuestionario.pregunta18 is not None %}   
              {{cuestionario.pregunta18}}     
                <input type="text" name="respuesta18" required
                id="id_respuesta18" class="form-control mt-3 mb-3" placeholder=""/>
            {% endif %}

            {% if cuestionario.pregunta19 != ""  and cuestionario.pregunta19 is not None %}   
              {{cuestionario.pregunta19}}     
                <input type="text" name="respuesta19" required
                id="id_respuesta19" class="form-control mt-3 mb-3" placeholder=""/>
            {% endif %}     

            {% if cuestionario.pregunta20 != ""  and cuestionario.pregunta20 is not None %}   
              {{cuestionario.pregunta20}}     
                <input type="text" name="respuesta20" required
                id="id_respuesta20" class="form-control mt-3 mb-3" placeholder=""/>
            {% endif %}  


            {% if page.secreta %} 
                  <b>Este evento es privado 🔒</b><br><br>
                   Ingresá la clave para  entrar    
                <input type="password" name="password" required
                  id="id_password" class="form-control mt-3 mb-3" placeholder="Contraseña"/>
                  <br>
            {% endif %}

           {% if overlaps %}
            <b>¡Estás anotadx a otra actividad en el mismo horario! 🤪 </b> <br>
            {% endif %}

            {% if page.con_preinscripcion  %}
            Te recordamos que esto es una preinscripción. 📱Te vamos a escribir por Whatsapp para confirmar tu cupo, al menos 3 días antes de la actividad.
            <br><br>
            {% else %}
            ¿Te esperamos {% if overlaps %} igual {% endif %}en {{page.title}} {% if page.modalidad  %}<b> Online</b>{% else %} <b> Presencial</b> {% endif %}
            {% if page.dia.order < 8 %}
              el {{page.dia}}
            {% endif %}
            a las {{page.horaDesde}} HS?  
            {% endif %}
            <br><br>

          </div>

          <!-- Modal footer -->

          <div class="modal-footer">
            {% if not page.con_preinscripcion  %}
                 <input type="submit" class="btn btn-success" value="Si" />    
                     </form>              

            <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            {% else %}
            <input type="submit" class="btn btn-success" value="Preinscribirme" />    
            </form>              
            {% endif %}
          </div>
        </div>
      </div>
    </div>  
  

    <!-- Modal Confirmar Desuscripción -->
    <div class="modal fade" id="ModalConfirmarDesuscripcion">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Confirmá</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">  
            
            <p class="text-center">  
              🧾 Al darte de baja estás liberando tu cupo 🧾 <br>
          Si querés faltar sin perder el cupo avisá por acá🙏  
           <a href="https://wa.me/+549{{whatsappHillel}}" class="btn btn-success btn-sm" >
           <i class="fab fa-whatsapp"></i>
           </a> 
           <br><br>
       <b> ¿Te das de baja de {{page.title}} {% if page.modalidad  %}<b> Online</b>{% else %} <b> Presencial</b> {% endif %}a las {{page.horaDesde}} HS? </b>
      </p>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
        <a class="btn btn-success" href="{% url 'pages:unregister' page.id %}">Si</a>
          <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>  
  


    <!-- Modal Cupos agotados -->
    <div class="modal fade" id="ModalCuposAgotados">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Esta preinscripción está completa, pero ya estás automáticamente en la lista de espera. </h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">  

            Si tenés más dudas escribinos al wpp.
            <a href="https://wa.me/+549{{whatsappHillel}}" class="btn btn-success btn-sm" >
              <i class="fab fa-whatsapp"></i>
            </a> 
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>  
  </div>


   {% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            // catch the form's submit event
            $('#MainNavAgotados').click(function () {
                
                //Se muestra el modal
                $('#ModalCuposAgotados').modal('show');
                
                // create an AJAX call
                $.ajax({
                    data: $(this).serialize(), // get the form data
                    url: "{% url 'pages:cuposAgotados' page.id %}",
                    // on success
                    success: function (response) {
                      console.log("Mail enviado")  
                      console.log(response)  

                    },
                    // on error
                    error: function (response) {
                        // alert the error if any error occured
                        console.log(response.responseJSON.errors)
                    }
                });

                return false;
            });
        })
    </script>
    {% endblock javascript %}

</main>
{% endblock %}
