{% extends 'core/base.html' %}
{% load static %}
{% block title %}Actividades{% endblock %}
{% block content %}
{% include 'pages/includes/pages_menu.html' %}
<main role="main">

  <!-- ALERTAS !-->

  {% if 'created' in request.GET %}
  <div class="alert alert-success alert-dismissible streched-link fade show text-center">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Éxito!</strong> actividad creada correctamente
  </div>
  {% endif %}


  <!-- FIN DE ALERTAS !-->

  <div class="container">
    <div class="card mx-auto border-1 mb-5">
      <div class="card-body mx-auto col-md-8">
        <h3 class="text-center font-weight-bold">CALENDARIO SEMANAL</h3>
        <h3 class="text-center">
          {% if cowork %}
          <a href="{% url 'pages:pages' 0 %}" class="text-center badge badge-pill text-white badge-online">COWORK</a>
          {% else %}
          <a href="{% url 'pages:pages' 1 %}"
            class="text-center badge badge-pill text-white badge-presencial">ACTIVIDADES</a>
          <h4 class="text-center">{%if request.user.profile.provincia is not None %} {{provincia}} {% else %} Argentina
            {% endif %}</h4>
          {% endif %}
        </h3>

       {% if not cowork %}
        {% for fecha, active_pages in active_pages_map.items %}
        <div class="row mt-4">
            <h5 class="mb-0 text-presencial">{{ fecha|date:"l d \d\e F" }}</h5>

        </div>
        <hr class="hr-presencial">
          {% for page in active_pages %}
            <div class="row mt-3">
                <div class="col-md-12">
                    {% if page in request.user.profile.subscription %}
                        <a class="btn btn-presencial btn-block text-center" href="{% url 'pages:page' page.id page.title|slugify %}">
                    {% else %}
                        <a class="btn btn-dark btn-block text-center" href="{% url 'pages:page' page.id page.title|slugify %}">
                    {% endif %}

                    <dl class="mb-0" style="white-space: normal;">
                        <dt class="mb-0 text-center">
                            {{ page.title }}
                            {% if page.secreta %}
                                <i class="fas fa-lock"></i>
                            {% endif %}
                        </dt>
                        <dd class="mb-0 text-center">
                            {% if request.user.is_staff %}
                                <span class="text-left badge badge-pill badge-info">{{ page.Qanotados }}/{{ page.cupo }}</span>
                            {% endif %}

                            De {{ page.horaDesde }}
                            {% if page.horaHasta %}
                                a {{ page.horaHasta }}
                            {% endif %}
                            HS.

                            {% if page.Qanotados >= page.cupo and page.cupo != 0 and request.user.is_staff %}
                                <span class="badge badge-pill badge-danger">AGOTADO</span>
                            {% endif %}

                            {% if page.nuevo %}
                                <span class="badge badge-pill badge-warning">NUEVO!</span>
                            {% endif %}
                            
                            {% if page.modalidad %}
                                <span class="badge badge-pill badge-warning">ONLINE</span>
                            {% endif %}
                        </dd>
                    </dl>
                </a>
            </div>
        </div>

        {% if request.user.is_staff %}
            <div class="row mt-1">
                <div class="col-md-8">
                    <a href="{% url 'pages:update' page.id %}">Editar</a>
                    | <a href="{% url 'pages:delete' page.id %}">Borrar</a>
                </div>
            </div>
        {% endif %}
        {% endfor %}
        {% endfor %}

       {% else %}

       {% for fecha, online_active_pages in online_active_pages_map.items %}
       <div class="row mt-4">
        <h5 class="mb-0 text-online">{{ fecha|date:"l d \d\e F" }}</h5>
       </div>
       <hr class="hr-online">

          {% for page in online_active_pages %}
                  <div class="row mt-3">
                      <div class="col-md-12">
                          {% if page in request.user.profile.subscription %}
                              <a class="btn btn-online btn-block text-center" href="{% url 'pages:page' page.id page.title|slugify %}">
                          {% else %}
                              <a class="btn btn-dark btn-block text-center" href="{% url 'pages:page' page.id page.title|slugify %}">
                          {% endif %}

                          <dl class="mb-0" style="white-space: normal;">
                              <dt class="mb-0 text-center">
                                  {{ page.title }}
                                  {% if page.secreta %}
                                      <i class="fas fa-lock"></i>
                                  {% endif %}
                              </dt>
                              <dd class="mb-0 text-center">
                                  {% if request.user.is_staff %}
                                      <span class="text-left badge badge-pill badge-info">{{ page.Qanotados }}/{{ page.cupo }}</span>
                                  {% endif %}

                                  De {{ page.horaDesde }}
                                  {% if page.horaHasta %}
                                      a {{ page.horaHasta }}
                                  {% endif %}
                                  HS.

                                  {% if page.Qanotados >= page.cupo and page.cupo != 0 and request.user.is_staff %}
                                      <span class="badge badge-pill badge-danger">AGOTADO</span>
                                  {% endif %}

                                  {% if page.nuevo %}
                                      <span class="badge badge-pill badge-warning">NUEVO!</span>
                                  {% endif %}
                              </dd>
                          </dl>
                      </a>
                  </div>
              </div>

              {% if request.user.is_staff %}
                  <div class="row mt-1">
                      <div class="col-md-8">
                          <a href="{% url 'pages:update' page.id %}">Editar</a>
                          | <a href="{% url 'pages:delete' page.id %}">Borrar</a>
                      </div>
                  </div>
              {% endif %}
        {% endfor %}
        {% endfor %}
       {% endif %}


    




      </div>
    </div>
  </div>
  </div>
</main>
{% endblock %}