{% extends 'core/base.html' %}
{% load static %}
{% block title %}Hillel Argentina{% endblock %}
{% block content %}
<style>.errorlist{color:red;}</style>
<main role="main">
  <div class="card container">
    <div class=" row mt-3">
      <div class="col-md-9 mx-auto mb-5">
        <h2 class="mb-4 text-center">¡Ya casi estás! Te mandamos un email <br>
          para verificar tu correo.</h2>
        <p class="text-center">
          Si no lo ves en tu bandeja de entrada, revisá la carpeta de spam.
        <p>
      </div>
    </div>
  </div>
</main>
{% endblock %}